.contacts {
  margin: 5rem auto;
  &__container {
    display: block;
    @media (min-width: $laptopScreen) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .social-networks {
      margin-bottom: 1rem;
      @media (min-width: $laptopScreen) {
        margin-bottom: 0;
      }
      &__text {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0.6rem;
        margin-right: 0.5rem;
        @media (min-width: $laptopScreen) {
          text-align: left;
        }
      }
      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        @import "social";
        @media (min-width: $laptopScreen) {
          display: block;
        }
      }
    }
    .form {
      margin: 0 auto;
      @media (min-width: $tabletScreen) {
        max-width: 30rem;
      }
      form {
        text-align: center;
        margin: 0 auto;
        @media (min-width: $tabletScreen) {
          width: 24rem;
        }
        input,
        textarea {
          width: 80%;
          background-color: #404249;
          border: 2px solid #404249;
          border-radius: 10px;
          font-size: 1.1rem;
          color: $yellow;
          margin: 0.6rem;
          outline: none;
          padding: 1rem 1rem;
          transition: all 0.1s ease-out;
          font-family: $textFont;
          @media (min-width: $tabletScreen) {
            width: 22rem;
          }
          &:focus {
            border: 2px solid $yellow;
          }
          &::placeholder {
            color: #6a6e77;
          }
        }

        button {
          background-color: $red;
          padding: 0.8rem 2rem;
          color: $textColor;
          border-radius: 8px;
          font-family: $textFont;
          border: none;
          margin: 0 auto;
          cursor: pointer;
          font-weight: bold;
          font-size: 1.4rem;
          margin-top: 1rem;
          svg {
            vertical-align: middle;
            transition: all 0.2s;
          }
          &:hover {
            svg {
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
  &__description {
    margin: 0 auto;
    @media (min-width: $tabletScreen) {
      text-align: center;
    }
    @media (min-width: $laptopScreen) {
      text-align: left;
      max-width: 30rem;
    }
  }
  &__heading {
    font-weight: bold;
    font-family: $bigTextFont;
    font-size: 3.6rem;
    margin: 0;
    @media (min-width: $tabletScreen) {
      text-align: center;
    }
    @media (min-width: $laptopScreen) {
      text-align: left;
      font-size: 4rem;
    }
  }
  &__text {
    line-height: 1.5rem;
  }
}
