.experience-block {
  margin-bottom: 4.4rem;
  &__title {
    svg {
      display: inline-block;
      width: 36px;
      height: 36px;
      color: $red;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }
  &__heading {
    font-size: 1.2rem;
  }
}
