.h2 {
  margin-top: 4rem;
  margin-left: 0;
  position: relative;
  color: $yellow;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  &::before {
    display: inline-block;
    content: "";
    background-color: $yellow;
    width: 4rem;
    height: 3px;
    border-radius: 5px;
    margin: 0 2rem 0 0;
    vertical-align: middle;
    transform: translateY(-50%);
  }
}
