.home {
  .intro {
    display: flex;
    flex-direction: column;
    @media (min-width: $laptopScreen) {
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .photo__wrapper {
      order: 2;
      width: calc(100% + 4rem);
      transform: translateX(-2rem);
      overflow: hidden;
      @media (min-width: $laptopScreen) {
        order: 0;
        width: 700px;
        margin-left: -500px;
        margin-right: 2rem;
        transform: translateX(0);
      }
      .photo {
        width: 500px;
        margin-left: -150px;
        transform: translateY(6px);
        @media (min-width: $tabletScreen) {
          margin-left: 0;
        }
        @media (min-width: $laptopScreen) {
          width: 700px;
          margin-left: 0;
        }
      }
    }

    .content {
      margin-top: 1rem;
      @media (min-width: $laptopScreen) {
        margin-top: 4rem;
      }
      .heading {
        font-family: $bigTextFont;
        font-size: 5rem;
        font-weight: bold;
        margin: 0;
        line-height: 5rem;
        text-align: center;
        @media (min-width: $laptopScreen) {
          text-align: left;
          &__word {
            &_offset {
              margin-left: -2rem;
            }
          }
        }
      }
      .sentence {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        width: 16rem;
        margin: 2rem auto;
        @media (min-width: $laptopScreen) {
          text-align: left;
          width: 100%;
          margin: 2rem 0 1rem 1rem;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        @media (min-width: $laptopScreen) {
          display: block;
          margin-bottom: 120px;
        }
        &__button {
          display: inline-block;
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: bold;

          &_project {
            margin-bottom: 4rem;
            order: 2;
            color: $yellow;

            span {
              position: relative;
              display: inline-block;
              padding-bottom: 4px;
              &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                top: 100%;
                left: 0;
                background: $yellow;
              }
            }
            svg {
              transition: transform 0.3s ease-out;
            }
            &:hover svg {
              transform: translateX(8px);
            }
            @media (min-width: $laptopScreen) {
              margin: 2rem 2rem 2rem 1rem;
            }
          }
          &_contact {
            margin-bottom: 2rem;
            color: $red;
            border: 2px solid $red;
            padding: 0.5rem 1.4rem;
            border-radius: 10px;
            transition: all 0.3s;
            background-color: transparent;
            background-size: 100% 200%;
            background-image: linear-gradient(
              to bottom,
              transparent 50%,
              $red 50%
            );
            &:hover {
              background-color: $red;
              color: $textColor;
              background-position: 0 -100%;
            }
            @media (min-width: $laptopScreen) {
              margin: 2rem 0 2rem 2rem;
            }
          }
          svg {
            padding-left: 0.8rem;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .social-networks {
    display: none;
    @media (min-width: $laptopScreen) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 18rem;
      position: absolute;
      top: 5rem;
      right: calc((100% - #{$desktopWidth}) / 2);
    }
    &__line {
      height: 7rem;
      border-radius: 5px;
      border: 1px solid $yellow;
      margin-bottom: 0.6rem;
    }

    @import "social";
  }

  .social-networks-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    @import "social";
    @media (min-width: $laptopScreen) {
      display: none;
    }
  }
}
