.review {
  margin-top: 2rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $tabletScreen) {
    margin-top: 6rem;
    flex-direction: row;
  }
  &__avatar {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 8rem;
      height: 8rem;
    }
  }
  &__content {
    margin-top: 1rem;
    @media (min-width: $tabletScreen) {
      width: 30rem;
      margin-top: 0;
    }
    svg {
      fill: rgba(106, 108, 118, 0.26);
    }
    figure {
      margin: 0;
      p {
        margin: 0;
        line-height: 1.5rem;
        text-align: justify;
      }
      blockquote {
        margin: 1rem 0 2rem 0;
        @media (min-width: $tabletScreen) {
          margin: 1rem 0 2rem 3rem;
        }
      }
      figcaption {
        p {
          text-align: right;
        }
        .cite {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          a {
            display: block;
            text-decoration: none;
            color: rgba(106, 108, 118, 0.849);
            cite {
              font-style: normal;
            }
            svg {
              transform: translateY(3px);
            }
          }
        }
      }
    }
  }
}
