.skills {
  .skills-container {
    margin-bottom: 3rem;
    .brackets {
      color: $yellow;
    }
    &__techs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @import "common/techBox";
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      @media (min-width: $desktopScreen) {
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
    }
    &__fundamental,
    &__supplementary {
      max-width: 30rem;
      margin: 0 auto;
      @media (min-width: $desktopScreen) {
        max-width: 100%;
      }
    }
  }
}
