$red: #fa554e;

.experience-block {
  margin-bottom: 3rem;
  .experience-title {
    svg {
      display: inline-block;
      width: 32px;
      height: 32px;
      color: $red;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }
}
