@import "../font/Nunito.css";

$shadow: 5px 5px 12px rgba(33, 34, 37, 0.32);
$bgColor: #2d2e32;
$textColor: #e1eee5;
$yellow: #ecdd7b;
$red: #fa554e;
$laptopWidth: 900px;
$tabletWidth: 700px;
$textFont: "Nunito", "Roboto", "Oxygen", "Ubuntu", sans-serif;
$bigTextFont: "Segoe UI", "Arial", sans-serif;
$largeScreen: 1020px;

@import "header";
@import "home";
@import "stack";
@import "projects";
@import "skills";
@import "about";

body {
  box-sizing: border-box;
  background-color: $bgColor;
  color: $textColor;
  font-family: $textFont;
  font-size: 16px;
  margin: 0 auto;

  // General styles
  .container {
    max-width: $laptopWidth;
    margin: 0 auto;

    @media (max-width: $largeScreen) {
      max-width: $tabletWidth;
    }
  }

  .floating {
    box-shadow: $shadow;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .reflect {
    flex-direction: row-reverse;
  }

  .em {
    color: $yellow;
  }

  a {
    text-decoration: none;
  }
  .un {
    text-decoration: underline;
  }

  // Sections specific styles

  main {
    .sections-h2 {
      margin-top: 4rem;
      position: relative;
      color: $yellow;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 0;
      letter-spacing: 0.1rem;
      &::before {
        display: inline-block;
        content: "";
        background-color: $yellow;
        width: 4rem;
        height: 3px;
        border-radius: 5px;
        margin: 0 2rem 0 0;
        vertical-align: middle;
        transform: translateY(-50%);
      }
    }

    .sections-h3 {
      text-align: center;
      font-size: 1.4rem;
      margin: 4rem auto 1rem auto;
      font-weight: 300;
    }

    .dark-wrapper {
      background-color: #28292d;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .experience {
      .experience-timeline-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 4rem 0 4rem 8rem;
        .timeline-container {
          margin-right: 6rem;
          svg {
            display: block;
            transform-origin: top;
            width: 118.5px;
            height: 871px;
          }
        }
        .experiences-container {
          width: 36rem;
        }
      }
    }

    .review {
      margin-top: 6rem;
      margin-bottom: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .avatar-container {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 8rem;
          height: 8rem;
        }
      }
      .content-container {
        width: 30rem;
        svg {
          fill: rgba(106, 108, 118, 0.26);
        }
        figure {
          margin: 0;
          p {
            margin: 0;
            line-height: 1.5rem;
            text-align: justify;
          }
          blockquote {
            margin: 1rem 0 2rem 3rem;
          }
          figcaption {
            p {
              text-align: right;
            }
            .cite-container {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              a {
                display: block;
                text-decoration: none;
                color: rgba(106, 108, 118, 0.849);
                cite {
                  font-style: normal;
                }
                svg {
                  transform: translateY(3px);
                }
              }
            }
          }
        }
      }
    }

    .contacts {
      margin: 5rem auto;
      .contacts-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .description {
          max-width: 30rem;
          .heading {
            font-weight: bold;
            font-family: $bigTextFont;
            font-size: 4rem;
            margin: 0;
          }
          .text {
            line-height: 1.5rem;
          }
          .contact-social {
            p {
              margin-top: 3rem;
              margin-bottom: 0.6rem;
              margin-right: 0.5rem;
              font-size: 1.2rem;
            }
            svg {
              margin-right: 0.8rem;
              color: $yellow;
              cursor: pointer;
              transition: color 0.2s;
              vertical-align: center;
              &:hover {
                color: rgba(236, 221, 123, 0.705);
              }
            }
          }
        }
        .form {
          max-width: 30rem;
          form {
            text-align: center;
            margin: 0 auto;
            width: 24rem;
            input,
            textarea {
              background-color: #404249;
              border: 2px solid #404249;
              border-radius: 10px;
              width: 22rem;
              font-size: 1.1rem;
              color: $yellow;
              margin: 0.6rem;
              outline: none;
              padding: 1rem 1rem;
              transition: all 0.1s ease-out;
              font-family: $textFont;
              &:focus {
                border: 2px solid $yellow;
              }
              &::placeholder {
                color: #6a6e77;
              }
            }

            button {
              background-color: $red;
              padding: 0.8rem 2rem;
              color: $textColor;
              border-radius: 8px;
              font-family: $textFont;
              border: none;
              margin: 0 auto;
              cursor: pointer;
              font-weight: bold;
              font-size: 1.4rem;
              margin-top: 1rem;
              svg {
                vertical-align: middle;
                transition: all 0.2s;
              }
              &:hover {
                svg {
                  transform: translateX(5px);
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    margin: 6rem auto 0 auto;
    .container {
      .footer-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40rem;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style-type: none;
          margin: 2rem 0 1rem 0;
          padding: 0;
        }
        a {
          text-decoration: none;
          color: $textColor;
          margin: auto 1.4rem;
          font-size: 1.1rem;
        }
        .socials {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 4rem;
          a {
            margin: 0;

            svg {
              margin: 0.8rem;
              color: $yellow;
              cursor: pointer;
              transition: color 0.2s;
              vertical-align: center;
              &:hover {
                color: rgba(236, 221, 123, 0.705);
              }
            }
          }
        }
        .copyright {
          color: #6a6e77;
        }
      }
    }
  }
}
