@import "../font/Nunito.css";

$shadow: 5px 5px 12px rgba(33, 34, 37, 0.32);
$bgColor: #2d2e32;
$textColor: #e1eee5;
$yellow: #ecdd7b;
$red: #fa554e;
$desktopWidth: 900px;
$laptopWidth: 700px;
$tabletWidth: 600px;
$textFont: "Nunito", "Roboto", "Oxygen", "Ubuntu", sans-serif;
$bigTextFont: "Segoe UI", "Arial", sans-serif;
$tabletScreen: 480px;
$laptopScreen: 768px;
$desktopScreen: 1024px;

@import "common/heading";
@import "common/subheading";
@import "common/list";
@import "loader";
@import "header";
@import "home";
@import "stack";
@import "projects";
@import "skills";
@import "about";
@import "experience";
@import "review";
@import "contacts";
@import "footer";

body {
  box-sizing: border-box;
  background-color: $bgColor;
  color: $textColor;
  font-family: $textFont;
  font-size: 16px;
  margin: 0 auto;
  overflow-y: scroll;

  .container {
    margin: 0 2rem;

    @media (min-width: $laptopScreen) {
      max-width: $laptopWidth;
      margin: 0 auto;
    }
    @media (min-width: $desktopScreen) {
      max-width: $desktopWidth;
      margin: 0 auto;
    }
  }

  .floating {
    box-shadow: $shadow;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .reflect {
    flex-direction: row-reverse;
  }

  .dark-wrapper {
    background-color: #28292d;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .em {
    color: $yellow;
  }

  a {
    text-decoration: none;
  }
  .un {
    text-decoration: underline;
  }
}
