.quick-fact {
  .icon-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    svg {
      width: 3rem;
      height: 3rem;
      margin: 0 auto;
      &.ajust {
        transform: translateX(4px);
      }
    }

    &.yellow {
      background-color: rgba(236, 221, 123, 0.17);
      svg {
        fill: #ecdd7b;
      }
    }
    &.red {
      background-color: rgba(250, 85, 78, 0.17);
      svg {
        fill: #fa554e;
      }
    }
  }
  h3 {
    text-align: center;
    width: 12rem;
    margin: 2rem auto 1rem auto;
  }
  p {
    text-align: center;
    width: 14rem;
    margin: 1rem auto;
  }
}
