@import "./font/Nunito.css";

$shadow: 5px 5px 12px rgba(33, 34, 37, 0.32);
$bgColor: #2d2e32;
$textColor: #e1eee5;
$yellow: #ecdd7b;
$red: #fa554e;
$contentWidth: 900px;
$textFont: "Nunito", "Roboto", "Oxygen", "Ubuntu", sans-serif;
$bigTextFont: "Segoe UI", "Arial", sans-serif;

body {
  box-sizing: border-box;
  background-color: $bgColor;
  color: #e1eee5;
  font-family: $textFont;
  font-size: 16px;
  margin: 0 auto;

  .container {
    max-width: $contentWidth;
    margin: 0 auto;
  }

  .floating {
    box-shadow: $shadow;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: translateY(-5px);
    }
  }

  header {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .switch-lang {
      transform: translate(30%, 25%);
      cursor: pointer;
      .langs {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        p {
          margin: 0;
          width: 20px;
          display: inline-block;
          padding-right: 0.4rem;
        }
      }
      svg {
        color: $yellow;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        transition: transform 0.3s;
        &.rotate {
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }

    svg {
      width: 60px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 1rem;
        a {
          position: relative;
          display: block;
          text-decoration: none;
          color: $textColor;
          padding-bottom: 4px;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 100%;
            left: 0;
            background: $yellow;
            transition: transform 0.5s;
            transform: scaleX(0);
            transform-origin: right;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }

  main {
    .intro {
      display: flex;
      align-items: center;
      justify-content: center;
      .photo {
        width: 700px;
        margin-left: -500px;
        margin-right: 2rem;
      }

      .heading-container {
        margin-top: 4rem;
        h1 {
          font-family: $bigTextFont;
          font-size: 5rem;
          font-weight: bold;
          margin: 0;
          line-height: 5rem;
          .first-word {
            margin-left: -2rem;
          }
        }
        .moto {
          font-size: 1.2rem;
          font-weight: normal;
          margin: 2rem 0 1rem 1rem;
        }

        .buttons {
          margin-bottom: 120px;
          a {
            display: inline-block;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;

            &#projects-button {
              color: $yellow;
              margin: 2rem 2rem 2rem 1rem;

              span {
                position: relative;
                display: inline-block;
                padding-bottom: 4px;
                &::after {
                  position: absolute;
                  content: "";
                  width: 100%;
                  height: 2px;
                  top: 100%;
                  left: 0;
                  background: $yellow;
                }
              }
              svg {
                transition: transform 0.3s ease-out;
              }
              &:hover svg {
                transform: translateX(8px);
              }
            }
            &#contact-button {
              margin: 2rem 0 2rem 2rem;
              color: $red;
              border: 2px solid $red;
              padding: 0.5rem 1.4rem;
              border-radius: 10px;
              transition: all 0.3s;
              background-color: transparent;
              background-size: 100% 200%;
              background-image: linear-gradient(
                to bottom,
                transparent 50%,
                $red 50%
              );
              &:hover {
                background-color: $red;
                color: $textColor;
                background-position: 0 -100%;
              }
            }
            svg {
              padding-left: 0.8rem;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .social-networks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 16rem;
      position: absolute;
      top: 9rem;
      right: calc((100% - #{$contentWidth}) / 2);
      .social-networks-line {
        height: 7rem;
        border-radius: 5px;
        border: 1px solid $yellow;
        margin-bottom: 0.6rem;
      }
      svg {
        color: $yellow;
      }
    }
    .mern {
      h3 {
        margin: 0 auto;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: normal;
        .mern-word {
          color: $yellow;
        }
      }
      .mern-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .tech-container {
          width: 12rem;
          height: 12rem;
          background-color: $bgColor;
          border-radius: 20px;
          margin: 1rem 1rem;
          box-shadow: $shadow;
          transition: transform 0.3s ease-out;
          &:hover {
            transform: translateY(-5px);
          }
          p {
            margin: 0.5rem;
          }
          svg {
            display: block;
            width: 60px;
            margin: 1.6rem auto;
          }
          .tech-name {
            text-align: center;
            font-size: 1.3rem;
            &::first-letter {
              color: $yellow;
            }
          }
          .tech-description {
            text-align: center;
            color: #6a6c76;
            font-size: 1.1rem;
          }
        }
      }
    }

    .sections-h2 {
      margin-top: 4rem;
      position: relative;
      color: $yellow;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 0;
      letter-spacing: 0.1rem;
      &::before {
        display: inline-block;
        content: "";
        background-color: $yellow;
        width: 4rem;
        height: 3px;
        border-radius: 5px;
        margin: 0 2rem 0 0;
        vertical-align: middle;
        transform: translateY(-50%);
      }
    }

    .sections-h3 {
      text-align: center;
      font-size: 1.4rem;
      margin: 4rem auto 1rem auto;
      font-weight: 300;
    }

    .dark-wrapper {
      background-color: #28292d;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .projects .project-container {
      margin-top: 4rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
    .skills {
      .brackets {
        color: $yellow;
      }
      .techs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .fundamental-previous-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .about {
      .desc-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .greeting-intro {
          max-width: 30rem;
          .greeting {
            font-weight: bold;
            font-family: $bigTextFont;
            font-size: 4rem;
            margin: 0;
          }
        }
        .exp-cv {
          max-width: 14rem;
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            .exp-years {
              font-size: 4rem;
              color: $yellow;
              margin: 0;
              padding-right: 1rem;
              margin-right: 0.5rem;
            }
            .exp-text {
              width: 4rem;
              font-size: 1.2rem;
            }
          }
          .cv {
            font-family: $textFont;
            font-weight: bold;
            border: 2px solid $red;
            border-radius: 40px;
            background-color: transparent;
            color: $red;
            text-transform: uppercase;
            padding: 0.8rem 2rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s;
            background-size: 100% 200%;
            background-image: linear-gradient(
              to bottom,
              transparent 50%,
              $red 50%
            );
            &:hover {
              background-color: $red;
              color: $textColor;
              background-position: 0 -100%;
            }
            svg {
              display: inline-block;
              padding-left: 0.5rem;
              vertical-align: middle;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .quick-facts-grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6rem;
        .quick-facts-grid {
          display: grid;
          grid-template-columns: repeat(3, 15rem);
          grid-template-rows: repeat(2, 20rem);
          gap: 2rem;
        }
      }
    }
    .experience {
      .experience-timeline-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 4rem auto;
        .timeline-container {
          margin-right: 6rem;
          svg {
            display: block;
            width: 114px;
            height: 547px;
          }
        }
        .experiences-container {
          width: 36rem;
        }
      }
    }

    .review {
      margin-top: 6rem;
      margin-bottom: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .avatar-container {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 8rem;
          height: 8rem;
        }
      }
      .content-container {
        width: 30rem;
        svg {
          fill: rgba(106, 108, 118, 0.26);
        }
        figure {
          margin: 0;
          p {
            margin: 0;
            line-height: 1.8rem;
            text-align: justify;
          }
          blockquote {
            margin: 1rem 0 2rem 3rem;
          }
          figcaption {
            p {
              text-align: right;
            }
            .cite-container {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              a {
                display: block;
                text-decoration: none;
                color: rgba(106, 108, 118, 0.849);
                cite {
                  font-style: normal;
                }
                svg {
                  transform: translateY(3px);
                }
              }
            }
          }
        }
      }
    }

    .contacts {
      margin: 0 auto;
      .contacts-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .description {
          max-width: 30rem;
          .heading {
            font-weight: bold;
            font-family: $bigTextFont;
            font-size: 4rem;
            margin: 0;
          }
        }
        .form {
          max-width: 30rem;
          form {
            text-align: center;
            margin: 0 auto;
            width: 24rem;
            input,
            textarea {
              background-color: #404249;
              border: 2px solid #404249;
              border-radius: 10px;
              width: 22rem;
              font-size: 1.1rem;
              color: $yellow;
              margin: 0.6rem;
              outline: none;
              padding: 1rem 1rem;
              transition: all 0.1s ease-out;
              font-family: $textFont;
              &:focus {
                border: 2px solid $yellow;
              }
            }

            button {
              background-color: $red;
              padding: 0.8rem 2rem;
              color: $textColor;
              border-radius: 8px;
              font-family: $textFont;
              border: none;
              margin: 0 auto;
              cursor: pointer;
              font-weight: bold;
              font-size: 1.4rem;
              margin-top: 1rem;
              svg {
                vertical-align: middle;
                transition: all 0.2s;
              }
              &:hover {
                svg {
                  transform: translateX(5px);
                }
              }
            }
          }
        }
      }
    }
    footer {
      margin: 6rem auto;
      .container {
        .footer-container {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 40rem;
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-top: 3rem;
          }
          a {
            text-decoration: none;
            color: $textColor;
            margin: 1rem 1.4rem;
          }
        }
      }
    }
  }
}
