.carousel {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 8rem;
    @media (min-width: $tabletScreen) {
      margin-top: 6rem;
    }
    @media (min-width: 700px) {
      height: 22rem;
    }
  }
  &__window {
    width: calc(100% - 40px);
    height: 100%;
    overflow: hidden;

    @media (min-width: $tabletScreen) {
      width: calc(100% - 80px);
    }

    @media (min-width: $laptopScreen) {
      width: 620px;
    }

    @media (min-width: $desktopScreen) {
      width: 820px;
    }
  }
  &__elements {
    height: 100%;
    display: flex;
    transition: transform 500ms ease-in-out;
  }
  &__arrow {
    color: $secondaryTextColor;
    cursor: pointer;
    width: 20px;
    height: 20px;
    @media (min-width: $tabletScreen) {
      width: 40px;
      height: 40px;
    }
    &_hidden {
      visibility: hidden;
    }
  }
}
