.experience-block {
  margin-bottom: 4.4rem;
  &__title {
    svg {
      display: inline-block;
      width: 36px;
      height: 36px;
      color: $red;
      margin-right: 1rem;
      vertical-align: sub;
      @media (min-width: $laptopScreen) {
        vertical-align: middle;
      }
    }
  }
  &__company {
    font-style: italic;
    font-weight: normal;
  }
  &__heading {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    @media (min-width: $laptopScreen) {
      margin: 1rem auto;
    }
  }
  &__years {
    color: $secondaryTextColor;
    @media (min-width: $laptopScreen) {
      display: none;
    }
  }
}
