.h2 {
  margin-top: 4rem;
  margin-left: 0;
  position: relative;
  color: $yellow;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  &::before {
    display: inline-block;
    content: "";
    background-color: $yellow;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    margin-right: 1rem;
    vertical-align: middle;
    transform: translateY(-50%);
    @media (min-width: $tabletScreen) {
      width: 4rem;
      margin-right: 2rem;
    }
  }
  &__first-word {
    display: none;
    @media (min-width: $tabletScreen) {
      display: inline;
    }
  }
}
