.list-with-ticks {
  padding-left: 3rem;
  list-style-type: none;
  @media (min-width: $tabletScreen) {
    padding-left: 60px;
  }
  &_el {
    text-indent: -2.1rem;
  }
  &_el:before {
    content: "";
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(../../images/icons/approve.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    vertical-align: middle;
  }

  &__sublist {
    list-style-type: disc;
    text-indent: 0;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
